
{% extends "event/back.html.twig" %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% form_theme searchform 'bootstrap_4_layout.html.twig' %}
{% block body %}


    <h1 class="mt-4">Events table</h1>
    <div class="row ">
        <div class="col-lg-5">
            <a onclick="ShowAndHide()" class="mt-4 mb-3 btn btn-primary">Add event</a>
        </div>
    </div>
    {{ form_start(form)}}
    
    <div class="row align-items-center d-flex justify-content-center">
        <div class="col-lg-4"  id="SectionName" style="display: none;">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">Add Event</h3></div>
                <div class="card-body">
                    <form>
                        <div class="form-floating mb-3">
                            <i >
                                {{form_row(form.nom)}}
                            </i>
         
                            
                        </div>
                        <div class="form-floating mb-3">
                            <i >
                                {{form_row(form.description)}}</i>
                        </div>
                        <div class="form-floating mb-3">
                            <i class="">
                                {{form_row(form.imageFile)}}</i>
                        </div>
                        
                        <div class="form-floating mb-3">
                            <div >
                                {{form_row(form.participants)}}</div>
                        </div>
                        <div class="form-floating mb-3">
                            <div >
                                {{form_row(form.date)}}</div>
                        </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                            <a class="small" href="password.html" style="visibility: hidden;">Forgot Password?</a>
                            <div>{{ form_row(form.Submit) }}</div>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
    {{form_end(form)}}
    {{ form(searchform)}}
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Events
        </div>
        <div class="card-body">
            
            <table id="datatablesSimple">
        <tr>
            <th>ID</th>
            <th>name</th>
            <th>description</th>
            <th>date</th>
            <th>image</th>
            <th>organiseur</th>
            
        </tr>
        {% for a in event %}<tr>

            <td>
                {{ a.id }}
            </td>
            <td>
                {{ a.nom }}
            </td>
            <td>
                {{ a.description }}
            </td>
            <td>
                {{ a.date|date('Y-m-d') }}
            </td>
            <td><img src="{{asset('assets/uploads/images/events/' ~ a.getImage())}}" alt="" width="200" height=""> </td>
            <td>
                {{a.utilisateur.nom}}
                
            </td>
            <td>
                <a href="{{ path('d',{'id':a.id}) }}" class="btn btn-secondary">Delete event</a>
                <a href="{{ path('modifier-event',{'id':a.id}) }}" class="btn btn-secondary">Modify event</a>
                <a href="{{ path('afficher-comments',{'id':a.id}) }}" class="btn btn-primary">View Comments</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ path('export') }}" class="btn btn-primary">Export to Excel</a>
    


</html>
<SCRIPT>
function ShowAndHide() {
    var x = document.getElementById('SectionName');
    if (x.style.display == 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
</SCRIPT>
{% endblock %}