
{% extends "event/back.html.twig" %}
{% block body %}

        
            
        {% if review is empty %}
        <div class="card mb-4">

            <div class="card-body">
                <h1 class="mt-4">Couldnt find any reviews for this event</h1>
                <a href="{{path('add_review',{'id_event':id})}}" class="btn btn-primary">Add Review</a>
            </div>
        </div>
        
             
        {% else %}
        <h1 class="mt-4">Reviews table</h1>
             <div class="card mb-4">
            <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Events
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
        <tr>
            <th>ID</th>
            <th>name</th>
            <th>description</th>
            <th>hidden</th>
            <th>Score</th>
            <th>Date</th>
            
        </tr>
        
        {% for a in review %}
        
        
        <tr>

            <td>
                {{ a.id }}
            </td>
            <td>
                {{ a.nom }}
            </td>
            <td>
                {{ a.description }}
            </td>
            <td>
                {{ a.hidden }}
            </td>
            <td>

                {{ a.score }}
            </td>
            <td>{{ a.date|date('Y-m-d') }} </td>
            
            <td>
                <a href="{{ path('delete-review',{'id':a.id,'id_event':id }) }}" class="btn btn-secondary">Delete Review</a>
                <a href="{{ path('modifier-review',{'id':a.id,'id_event':id }) }}" class="btn btn-secondary">Update Review</a>
                <a href="{{ path('hide_comment',{'id':a.id,'id_event':id }) }}" class="btn btn-secondary">Hide Review</a>
                
            </td>
        </tr>
        <tr><td><a href="{{path('add_review',{'id_event':id})}}" class="btn btn-primary">Add Review</a></td></tr>
        {% endfor %}
        
        
        {% endif %}
       </table>
        
  
        
    
  


</html>
{% endblock %}