{% extends 'back.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Edit Type{% endblock %}
{% block navlink%}
    Gestion
{% endblock %}
{% block navItem%}
    <a href="{{ path('terrain_index') }}">gestion des terrains</a>
    <a href="{{ path('type_index') }}">gestion des types</a>
{% endblock %}

{% block row %}
{% endblock %}

{% block globchart %}
 {% endblock %}
{% block cardDel %}
{% endblock %}

{% block table %}
    <h1>Edit Terrain</h1>
{% block form %}
    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}

    {{ include('type/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
    {{ include('type/_delete_form.html.twig') }}

    <a href="{{ path('type_index') }}">back to list</a>
{% endblock %}
