{% extends 'back.html.twig' %}


{% block title %}Types{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css"
          integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}
{% block navlink%}
    Gestion
{% endblock %}
{% block navItem%}
    <a href="{{ path('terrain_index') }}">gestion des terrains</a>
    <a href="{{ path('type_index') }}">gestion des types</a>
{% endblock %}

{% block tableData %}
{% endblock %}

 {% block table %}
 {% endblock %}


{% block title2 %}
    gestion des types de terrains
{% endblock %}
 {% block cardDel %}
 {% endblock %}
{% block row %}
    <h3>Les types de terrains </h3>

    <table class="table">
        <thead>
            <tr>

                <th>LibelleType</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type in types %}
            <tr>
                <td>{{ type.libelleType }}</td>
                <td>
                    <a href="{{ path('type_show', {'id': type.id}) }}">show</a>
                    <a href="{{ path('type_edit', {'id': type.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% block href %}
    <a href="{{ path('type_new') }}">Create new</a>
{% endblock %}
{% endblock %}
{% block globchart %}
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-area me-1"></i>
                Terain per type
            </div>
            <div class="card-body">
                {% block charts1 %}
                    <canvas id="types" width="200" height="100"></canvas>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg=="
            crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
   
{% endblock %}