{% extends 'back.html.twig' %}

{% block title %}Terrain index{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css"
          integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

 {% block linkChart %}
     
 {% endblock %}
{% block navlink%}
    Gestion
{% endblock %}
{% block navItem%}
    <a href="{{ path('terrain_list') }}">gestion des terrains</a>
    <a href="{{ path('type_index') }}">gestion des types</a>
{% endblock %}

{% block tableData %}
{% endblock %}

{% block cardDel %}
{% endblock %}
 {% block table %}
{% endblock %}
{% block row %}
    <h1>Terrain index</h1>
    {% for message in app.flashes('info') %}
        <div class="alert alert-success alert-dismissible" id="myAlert">
                <strong>Success!</strong> {{ message }}
        </div>

    {% endfor %}
    {#<form methode="POST" action="{{ path('terrain_search') }}">
        <input type="text" name="search">
        <input type="submit" value="Search">
    </form>#}

    <table class="table" class="table table-striped">
        <thead>
            <tr>
                <th>ImageTerrain</th>
                <th>NumTel</th>
                <th>Localisation</th>
                <th>Description</th>
                <th>Status</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>

        {% for terrain in terrains %}
            <tr>

                <td>
                    <img class="img-fluid w-10" src="{{ vich_uploader_asset(terrain, 'imageFile') }}" >
                  {{ terrain.imageFile }}</td>
                <td>{{ terrain.numTel }}</td>
                <td>{{ terrain.localisation }}</td>
                <td>{{ terrain.description }}</td>
                <td>{{ terrain.status }}</td>
                <td>{{ terrain.prix }}</td>
                <td>
                    <button class="btn bg-gradient-success w-50 mb-0 toast-btn" type="button" data-target="successToast">
                        <a href="{{ path('terrain_show', {'id': terrain.id}) }}">show</a>
                    </button>
                    <button class="btn bg-gradient-info w-50 mb-0 toast-btn" type="button" data-target="infoToast">
                        <a href="{{ path('terrain_edit', {'id': terrain.id}) }}">edit</a>
                    </button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no terrains found</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

{% block href %}
    <a href="{{ path('terrain_new') }}">Create new</a>
    {{ knp_pagination_render(terrains) }}
{% endblock %}
{% endblock %}
{% block globchart %}
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-area me-1"></i>
                Area Chart Example
            </div>
            <div class="card-body">
                {% block charts1 %}
                <canvas id="types" width="200" height="100"></canvas>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg=="
            crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    <script>
        let types = document.querySelector("#types")
        let typeGraph = new Chart(types,{
            type:"bar",
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    label: "nombre de terrains",
                    data:  [12, 19, 3, 5, 2, 3],
                    backgroundColor:["#bd6b6b","#c9b1a6","#c9b5a6"]
                }]
            }
        })
    </script>

{% endblock %}