{% extends 'back.html.twig' %}


{% block title %}Terrain index{% endblock %}
{% block navlink%}
    Gestion
{% endblock %}
{% block navItem%}
    <a href="{{ path('terrain_list') }}">gestion des terrains</a>
    <a href="{{ path('type_index') }}">gestion des types</a>
{% endblock %}

{% block tableData %}
{% endblock %}
 {% block charts %}
 {% endblock %}
{% block cardDel %}
{% endblock %}
 {% block table %}
{% endblock %}
{% block row %}
    <h1>Terrain index</h1>
    {% for message in app.flashes('info') %}
        <div class="alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {#<form methode="POST" action="{{ path('terrain_search') }}">
        <input type="text" name="search">
        <input type="submit" value="Search">
    </form>#}

    <table class="table" class="table table-striped">
        <thead>
            <tr>
                <th>ImageTerrain</th>
                <th>NumTel</th>
                <th>Localisation</th>
                <th>Description</th>
                <th>Status</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>

        {% for terrain in terrains %}
{#            <img src="{{ vich_uploader_asset(terrain, 'imageFile') }}" width="50px">#}
            <tr>

                <td>{{ terrain.imageTerrain }}</td>
                <td>{{ terrain.numTel }}</td>
                <td>{{ terrain.localisation }}</td>
                <td>{{ terrain.description }}</td>
                <td>{{ terrain.status }}</td>
                <td>{{ terrain.prix }}</td>
                <td>
                    <a href="{{ path('terrain_show', {'id': terrain.id}) }}">show</a>
                    <a href="{{ path('terrain_edit', {'id': terrain.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% block href %}
    <a href="{{ path('terrain_new') }}">Create new</a>
{% endblock %}
{% endblock %}
