{% extends 'back.html.twig' %}

{% block title2 %}Terrain{% endblock %}
{% block navlink%}
Gestion
{% endblock %}
{% block navItem%}
    <a href="{{ path('terrain_index') }}">gestion des terrains</a>
    <a href="{{ path('type_index') }}">gestion des types</a>
{% endblock %}

{% block tableData %}
{% endblock %}
 {% block charts %}
 {% endblock %}

 {% block table %}
 {% endblock %}
{% block row %}
    {% endblock %}
 {% block linkDel %}
     <a class="btn btn-link text-dark px-3 mb-0" href="{{ path('terrain_edit', {'id': terrain.id}) }}"><i class="material-icons text-sm me-2">edit</i>Edit</a>
     {{ include('terrain/_delete_form.html.twig') }}
 {% endblock %}

  {% block image %}
      <img class="img-fluid" src="/front/img/foot.jpg" style="width:300px;height:300px;" alt="">
  {% endblock %}
{% block card %}
    <h1>Terrain</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ terrain.id }}</td>
            </tr>
            <tr>
                <th>ImageTerrain</th>
                <td>{{ terrain.imageTerrain }}</td>
            </tr>
            <tr>
                <th>NumTel</th>
                <td>{{ terrain.numTel }}</td>
            </tr>
            <tr>
                <th>Localisation</th>
                <td>{{ terrain.localisation }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ terrain.description }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ terrain.status }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ terrain.prix }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('terrain_index') }}">back to list</a>


{% endblock %}