{% extends 'base.html.twig' %}

{% block title %}Liste des Récalamations{% endblock %}

{% block body %}
    <H1>Liste des réclamations</H1>
<table border="5">
    <thead>
    <tr>
        <th>Id réclamation</th>
        <th>Titre</th>
        <th>Description</th>
        <th>Date</th>
        <th>Id utilisateur</th>
        <th>Id produit</th>
        <th> Delete </th>
    </tr>
    </thead>
    <tbody>
    <tr {% for r in reclamation %}>
        <td> {{ r.getId()}}    </td>
        <td>  {{ r.getTitre()}}   </td>
        <td> {{ r.getDecription()}}    </td>
        <td>{{ r.getDate() }}</td>
        <td>  {{ r.getIduser()}}   </td>
        <td>  {{ r.getIdprod()}}   </td>
        <td> <a href="{{ path('d',{'id':r.id}) }}"> Delete </a></td>

    </tr {% endfor %}>
    </tbody>
    <tfoot>
    <tr>
        <th>Id réclamation</th>
        <th>Titre</th>
        <th>Description</th>
        <th>Date</th>
        <th>Id utilisateur</th>
        <th>Id produit</th>
        <th> Delete </th>
    </tr>
    </tfoot>
</table>
{% endblock %}
