{% extends 'back-office.html.twig'%}


{% block title %}Produit index{% endblock %}
{% block body %}

     <h1 class="mt-4">Liste des produits</h1>
{{form(form)}}
    <table class="table">
        <thead>
        <tr>

            <th>Nom Produit</th>
            <th>Dsecription produit</th>
            <th>Image</th>
            <th>Disponibilité</th>
            <th>Prix</th>
            <th>Promotion</th>
            <th>actions</th>


        </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>

                <td>{{ produit.nomprod }}</td>
                <td>{{ produit.dsecriptionprod }}</td>
                <td>{{ produit.image }}</td>
                <td>{{ produit.disponibilite }}</td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.promo }}</td>

                <td>
                    <button type="button" class="btn btn-outline-primary"> <a href="{{ path('produit_show', {'id': produit.id}) }}">show</a> </button>
                    <button type="button" class="btn btn-outline-primary"> <a href="{{ path('produit_edit', {'id': produit.id}) }}">edit</a> </button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<a  href="{{ path('produit_new') }}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"> Create new</a> </button>
{% endblock %}
