
{% extends 'base.html.twig' %}
{% block body %}

    <!-- START: Table -->
    <div class="container">
        <h3 class="text-main-1" align="center">List Users</h3>
        <div class="nk-gap"></div>
        <table class="nk-table">
            <thead>
            <th>id</th>
            <th>username</th>
            <th>email</th>
            <th>bio</th>
            <th>password</th>
            <th>Delete</th>

            </thead>
            <tbody>
            <tr>
                {% for i in clients %}


                <td>{{ i.id }}</td>
                <td>{{ i.username }}</td>
                <td>{{ i.email }}</td>
                <td>{{ i.bio }}</td>
                <td>{{ i.password }}</td>
                <td><a href="{{ path('removeuser',{'id':i.id}) }}">Remove</a> </td>
            </tr>


            </tbody>
            {% endfor %}
        </table>
    </div>
{% endblock %}