{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}

        <label>Phone number</label>
        <br>
        {{ form_widget(form.numTel)}}
        {{ form_errors(form.numTel) }}

        <label>localisation</label>
        <br>
        {{ form_widget(form.localisation) }}
        {{ form_errors(form.localisation) }}

        <label>description</label>
        <br>
        {{ form_widget(form.description) }}
        {{ form_errors(form.description) }}

        <label>status</label>
        <br>
        {{ form_widget(form.status) }}
        {{ form_errors(form.status) }}

        <label>type</label>
        <br>
            {{ form_widget(form.type) }}
            {{ form_errors(form.type) }}

        <label>prix</label>
        <br>
        {{ form_widget(form.prix) }}
        {{ form_errors(form.prix) }}

        <label>downolad image</label>
        <br>
        {{ form_widget(form.imageFile) }}
        {{ form_errors(form.imageFile) }}

        To go back to the list <a href="{{ path('terrainFront_index') }}" target="_blank">click here!</a>


        {{ include('front_terrain/_form.html.twig') }}

        <img class="img-fluid" src="/front/img/imageSport.jpg" alt="">


    {{ form_end(form) }}
{% endblock %}