{% extends 'back-office.html.twig'%}
{% form_theme form 'bootstrap_4_layout.html.twig' %}


{% block title %}New Categorie{% endblock %}

{% block body %}
    <h1>Create new Categorie</h1>
    {{ form_start(form,{'attr':{'novalidate':'novalidate' }})}}
<table>
    <tr>
        <td>{{ form_label(form.nomcat,'Nom produit') }}</td>
        <td>{{ form_widget(form.nomcat) }}</td>
        <td>{{ form_errors(form.nomcat) }}</td>
    </tr>
    <br>
    <tr>
        <td>{{ form_label(form.descriptioncat,'Description categorie') }}</td>
        <td>{{ form_widget(form.descriptioncat) }}</td>
        <td>{{ form_errors(form.descriptioncat) }}</td>
    </tr>
</table>
    {{ form_end(form) }}
{% endblock %}

