{% extends 'back-office.html.twig' %}

{% block title %}commandes!{% endblock %}

{% block body %}

<form>
<h1></h1>
<h4 align="right"> <input  type="text" name = "nom"> <input class="btn btn-dark" align="right" type="submit" value = "recherche"> </h4>



</form>
<h1 align="center">Les commandes</h1>

    <table class="table">
    <thead class="thead-dark">
        
            <tr>
                <th>Id</th>
                <th>nom</th>
                <th>Prenom</th>
                <th>adresse</th>
                <th>telephone</th>
                <th>email</th>
                <th>quantite</th>
                <th>total</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.id }}</td>
                <td>{{ commande.nom }}</td>
                <td>{{ commande.prenom }}</td>
                <td>{{ commande.adresse }}</td>
                <td>{{ commande.telephone }}</td>
                <td>{{ commande.email }}</td>
                <td>{{ commande.quantiteProduit }}</td>
                <td>{{ commande.total }}</td>
                <td>
                    <a class="btn btn-warning" href="{{ path('commandes_show', {'id': commande.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no commande found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
     <h5 align="center"> {{ knp_pagination_render(commandes) }}  </h5>
      
    {% endblock %}
