

{% block body %}
<h1 align = "centre "> Commande</h1> 

    <table class="table">
    <thead class="thead-dark">
        
            <tr>
                <th>Id</th>
                <th>nom</th>
                <th>Prenom</th>
                <th>adresse</th>
                <th>telephone</th>
                <th>email</th>
                <th>quantite</th>
                <th>total</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.id }}</td>
                <td>{{ commande.nom }}</td>
                <td>{{ commande.prenom }}</td>
                <td>{{ commande.adresse }}</td>
                <td>{{ commande.telephone }}</td>
                <td>{{ commande.email }}</td>
                <td>{{ commande.quantiteProduit }}</td>
                <td>{{ commande.total }}</td>
                
            </tr>
        
        {% endfor %}
        </tbody>
    </table>
      {{ knp_pagination_render(commandes) }}
    {% endblock %}
