
<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
<img align="right" src="{{ asset ('public/back/assets/img/sp.png" alt="logo" ')}}">
<h1 style="color:red;">SPORTACUS</h1>

<h2 align="center">Votre commande</h2>



<table>
  <tr>
    <th>Id</th>
                <th>nom</th>
                <th>Prenom</th>
                <th>adresse</th>
                <th>telephone</th>
                <th>email</th>
                <th>quantite</th>
                <th>total</th>
  </tr>
  {% for commande in commandes %}
            <tr>
                <td>{{ commande.id }}</td>
                <td>{{ commande.nom }}</td>
                <td>{{ commande.prenom }}</td>
                <td>{{ commande.adresse }}</td>
                <td>{{ commande.telephone }}</td>
                <td>{{ commande.email }}</td>
                <td>{{ commande.quantiteProduit }}</td>
                <td>{{ commande.total }}</td>
                
            </tr>
        
        {% endfor %}
 

</table>
<h4></h4>
<h4></h4>
<p align="right">Merci</p>
<h4></h4>
<h4></h4>
<h4></h4>
<h4></h4>
<h4></h4>
<h4></h4>
<h4></h4>
<h4></h4>

<h2 style="color:blue;">Contacter Nous</h2>

<h4>Tel : +21671078897 </h4>
<h4 >Email : SPORTACUS@gmail.com </h4>



</body>
</html>

